/* base */
@media only screen and (max-width: 1024px) or (max-width: 470px){
  .site-container {
    width: 100%;
  }
}

* {
  font-size: 18px;
  line-height: 1.4;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

/* header */
@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .banner {
    padding-top: 0;
    height: 22rem;
  }

  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    padding-top: 0;
    height: 17rem;
  }

  .desktop-tablet-nav {
    display: none;
  }
}

header {
  background-color: cadetblue;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-flex;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.top-logo {
  display: inline-flex;
  align-items: center;
}

header span {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

header nav li {
  padding-left: 2rem;
  display: inline-flex;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* banner */
@media only screen and (max-width: 1024px) {
  .slogan {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
  .slogan h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {
  .slogan {
    margin-top: 9rem;
    padding: 1rem auto;
    width: 100%;
    text-align: center;
  }
  .slogan h1 {
    font-size: 1rem;
  }
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.slogan {
  background-color: white;
  z-index: 1;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-left: 48rem;
  position: relative;
  right: 8rem;
  font-weight: bold;
}

.slogan h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}

/* icons */
@media only screen and (max-width: 470px) {
  .icons {
    margin-top: 3.77rem;
    display: flex;
    flex-direction: column;
  }

  .icon {
    margin-bottom: 1.54rem;
    align-self: center;
  }
}

.icon-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icons {
  display: inline-flex;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.icon {
  height: 8rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
  justify-content: space-between;
}

.icon img {
  margin-bottom: 1rem;
  width: 5rem;
}

/* info */
@media only screen and (max-width: 470px) {
  .info-section {
    display: flex;
    font-family: Helvetica;
    align-self: center;
    flex-direction: column;
  }

  .info p {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.info-section {
  display: inline-flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.info {
  width: 35%;
}

.info-title {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

.info p {
  margin-right: 5%;
}

/* footer */
@media only screen and (max-width: 470px) {
  .bottom-logo span {
    display: none;
  }

  .bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  display: inline-flex;
  background-color: azure;
  padding: 4rem 2rem;
}

footer img {
  display: inline-flex;
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.bottom-logo {
  display: inline-flex;
  align-items: center;
}
